@import 'fonts.css';
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width:1024px;
    min-height:640px;
}
p{
    margin: 0px;
}
.mvl-main {
    box-sizing: border-box;
}
.mvl-sec1,
.mvl-sec2 {
    width: 30%;
    float: left;
    height: 100%;
}
.mvl-sec1 {
    width: 100%;
    cursor: pointer;
    background-image: url(../image/mvisa.svg);
    background-position: center;
    background-size: cover;
}
.mvl-sec2 {
    display: none;
    height: 100%;
    background-color: #575757;
}
.mvl-secmain {
    display: table-cell;
    vertical-align: middle;
}
.mvl-form {
    margin: 0 auto;
    text-align: center;
}
.mvl-banklogo {}
.mvl-banktext {
    padding: 25px 0;
    margin: 0;
    font-family: Raleway;
    color: white;
    font-weight: 300;
}
.mvl-banktext > .mvl-text1 {
    letter-spacing: 4px;
    font-size: 15px;
}
.mvl-banktext > .mvl-text2 {
    font-size: 11px;
    letter-spacing: 1px;
}
.mvl-username,
.mvl-password {
    font-family: Raleway;
}
.mvl-username > .mvl-usernamelbl,
.mvl-password > .mvl-passwordlbl {
    font-size: 12px;
    padding: 5px 0 2px 0;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
}
.mvl-username > input[type=text],
.mvl-password > input[type=password] {
    font-family: Raleway;
    font-weight: 600;
    text-align: center;
    border: 0px solid;
    width: 250px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    margin: 2px;
    padding: 0 12px;
}
.mvl-password > input[type=password] {
    font-size: 40px;
    margin-bottom: 12px;
    letter-spacing: -4px;
}
.mvl-loginbut > button.btn {
    font-family: Raleway;
    border: 1px solid white;
    height: 30px;
    width: 90px;
    background-color: #3B76FF;
    border-radius: 20px;
    margin: 10px;
    outline: none;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: 2px;
    color: white;
    transition: 1s;
    padding-left: 20px;
}
.mvl-loginbut > button.btn:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid white;
    padding-left: 6px;
}
.mvl-loginbut > button.btn:active {
    color: black;
}
.mvl-message {
    font-family: Raleway;
    font-size: 12px;
    padding: 15px;
    color: black;
    letter-spacing: 1px;
}
.mvl-footer1 {
    bottom: 0;
    position: absolute;
    right: 45%;
    font-size: 12px;
    font-family: Raleway;
    padding: 0 10px 22px 0;
}
.mvl-footer1-m {
    bottom: 20;
    position: fixed;
    left: 0;
    text-align: center;
    font-size: 12px;
    font-family: Raleway;
    width: 100%;

}
.mvl-footer2 {
    bottom: 0;
    position: absolute;
    right: 41.6%;
    font-size: 12px;
    font-family: Raleway;
    padding: 0 10px 7px 0;
    color: #3b76ff;
}

.mvl-footer2-m {
    bottom: 0;
    position: fixed;
    left: 0;
    width:100%;
    text-align: center;
    font-size: 12px;
    font-family: Raleway;
    padding: 0 10px 7px 0;
    color: #3b76ff;
}

body {
    /*background-image: url(../image/8648.jpg);*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
body::-webkit-scrollbar {
    width: 11px !important;
    background-color: #ecf0f1;
}
body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 15px black;
    background-color: #2c3e50;
}
.mv-background {
    /*background-image: url(../image/8648.jpg);*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.mv-header {
    width: 80%;
    right: 0;
    height: 25px;
    background-color: #575757;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
    transition: 0.3s;
    z-index: 10;
}
.mv-fixed-header {
    position: fixed;
    top: 0;
}
.mv-header-text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
}
.mv-header-text-small {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.mv-header-logo {}
.mv-header-margin {
    margin: 4px 1px;
    padding: 4px 3px;
}
.mv-header .mv-header-divider {
    float: left;
    color: #E91E63;
    font-weight: bold;
}
.mv-header-logout,
.mv-header-passchange {
    background: #2f2f2f;
    width: 25px;
    height: 25px;
    margin-right: 2px;
    transition: 0.3s;
}
.mv-header-logout:hover,
.mv-header-passchange:hover {
    background: #0046a2;
}
.mv-header-logout > a,
.mv-header-passchange >a {
    color: white;
    text-decoration: none;
}

/*navbar*/

.mv-navbar {
    position: fixed;
    word-break: break-all;
    top: 30px;
    height: auto;
    background-color: white;
    z-index: 9;
}
.mv-navbar-menu {
    transform: rotate(270deg);
    position: fixed;
    left: 300px;
    top: 86px;
    font-size: 12px;
    background: #8BC34A;
    padding: 0px 9px;
    color: #ffffff;
    z-index: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: -5px 0px 0px 0px #009688;
}
.mv-click-home {
    cursor: pointer;
}

/*body*/

.mv-body {
    width: calc(100% - 260px);
    margin-top: 30px;
    background-color: #fcfcfc;
    height: auto;
    padding: 0px;
    padding-left: 0px;
    margin-left: 20%;
}
.mv-table {
    /*background-color: #eeeeee;*/
    padding: 5px 10px 30px 15px;
    margin-top: 20px;
}
.mv-table-color {
    /*background-color: #eeeeee;*/
    padding: 5px 10px 0px 15px;
    margin-bottom: 30px;
}
.mv-body > .mv-form,
.mv-body > .mv-other {
    padding: 15px;
    margin: 10px 15px 24px;
    background: #FFFFFF;
    border: 1px solid #B9C4D4;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.mv-body > .mv-form-color{
    padding: 15px;
    margin: 10px 15px 0px;
    background: #FFFFFF;
    border: 1px solid #B9C4D4;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.mv-breadcrumb {
    position: fixed;
    left: 20%;
    font-size: 12px;
    background: #0046A2;
    padding: 5px 15px;
    height: 25px;
    color: #ffffff;
    z-index: 10;
    font-family: Raleway;
    font-size: 11px;
}
.mv-mandatory-field {
    font-family: Roboto;
    color: #697E9E;
    font-size: 12px;
    font-weight: 400;
    margin: 15px 0px 10px -20px;
    padding: 2px 0 2px 20px;
}
.mv-mandatory-field > span {
    font-family: Roboto;
    color: red;
}
.mv-margin {
    margin: 10px 0;
}

/*modal*/

.mv-modal-body {
    width: 100%;
    height: auto;
    margin-top: 8px;
}
.mv-modal {
    padding: 10px;
    /*border: 1px solid rgba(63, 81, 181, 0.52);*/
}

/*colors*/

.color1 > span {
    color: white;
    transition: 0.5s;
}
.color1 > span > span {
    color: darkgray;
    transition: 0.5s;
}
.color2 > span {
    color: #03A9F4;
    transition: 0.5s;
}
.color2 > span > span {
    color: darkgray;
    transition: 0.5s;
}

/*tootltip*/

.mv-tooltip {
    position: relative;
    display: inline-block;
    font-family: Raleway;
    font-size: 11px;
    font-weight: normal;
}
.mv-tooltip .mv-tooltiptext {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
    border-radius: 3px;
    padding: 2px 4px;
    position: absolute;
    z-index: 1;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 2px 1px 0px rgba(95, 95, 95, 0.4);
}
.mv-tooltip .mv-tooltiptext-home {
    left: 100px;
    top: 100%;
    width: auto;
}
.mv-tooltip .mv-tooltiptext-logout {
    left: 55px;
    top: 42px;
    width: auto;
}
.mv-tooltip .mv-tooltiptext-cpass {
    left: 22px;
    width: 110px;
    top: 42px;
}
.mv-tooltip .mv-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.8) transparent;
}
.mv-tooltip:hover .mv-tooltiptext {
    opacity: 1;
}
.mv-Horizonline {
    width: 96%;
    height: 1px;
    background-color: #404040;
    padding: 0px;
    margin: 10px 0 5px 10px;
}
.mv-topdetail {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 20%;
    padding: 20px 0 5px 0;
    background-color: #575757;
}
.mv-homedetail > .logo {
    float: left;
    background: white;
    border-top-right-radius: 17px;
    padding: 0 9px 0px 6px;
    border-bottom-right-radius: 17px;
    box-shadow: 0px 2px 3px 1px #0404045e;
}
.mv-homedetail > .text1 {
    font-size: 14px;
    font-weight: 400;
    color: #ababab;
    text-align: right;
    padding-right: 10px;
    letter-spacing: 1px;
}
.mv-homedetail > .text2 {
    font-size: 11px;
    font-weight: 400;
    color: #ffffff;
    text-align: right;
    font-style: italic;
    padding-right: 10px;
}
.mv-logindetail {
    padding: 10px 0
}
.mv-logindetail > .welcome,
.mv-logindetail > .role,
.mv-logindetail > .time {
    font-weight: 400;
    font-size: 11px;
    color: #969696;
    text-align: right;
    padding: 2px 10px;
}
.mv-logindetail > .role {}
.mv-logindetail > .time {}
.mv-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 20%;
    padding: 5px 0;
    background-color: #575757;
    font-family: Raleway;
    color: #bbbbbb;
}
.mv-footer > .text1 {
    text-align: right;
    font-size: 10px;
    padding: 2px 8px 0 0;
}
.mv-footer > .text2 {
    text-align: right;
    font-size: 10px;
    padding: 2px 8px 0 0;
}

.dtable-header{
    margin-left:1%;
    margin-right: 1%;
    font-size: 8pt;
    padding: 4px
}
.dtable-footer{
    text-align: center;
    background-color: #c5c5c5;
    margin-left:1%;
    margin-right: 1%;
    font-size: 7pt 
}
.dtable{
    font-size:8pt;
    font-weight: normal;
}

.a{
    background-color: red;
}

#showbtn{
    background-color: gray;
    width: 40px;
    height: 25px;
    float:left;
}
#hidebtn{
    background-color: #575757;
    width: 25px;
    height: 25px;
    float:right;
    padding: 0px 2px 2px 0px;
}

/*new css for hearder*/
.fixed-header{
    position: absolute;
    top: 0px;
    left: 0px;
    background: white;
    height: 65px;
    width: 100%;
    min-width: 1024;
    z-index: 100;
}

.header-content{
    height: 64px;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #EDEDED 100%);
}

.header-content .logo{
    display: inline-block;
    float: left;
    height: 48px;
    width: 103px;
    margin-top: 8px;
    margin-left: 24px;
}

.header-content .user-action-icon{
    display: inline-block;
    float: right;
    height: 24px;
    width: auto;
    margin-right: 16px;
    margin-top: 20px;
}

.header-content .user-action-icon .img{
    height: 24px;
    width: auto;
}

.header-content span{
    display: inline-block;
    float: right;
    width: 1px;
    height: 24px;
    background: #E0E0E0;
    margin-right: 16px;
    margin-top: 20px;
}

.header-content .user-role{
    display: inline-block;
    float: right;
    color: #1F304A;
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 16px;
    margin-top: 20px;  
}

.header-underline{
    height: 1px;
    width: 100%;
    background:#FFA32A
}

/*css for breadcrum*/

.breadcrum {
    position: absolute;
    width: calc(100% - 260px);
    height: 30px;
    top: 80px;
    right: 0px;
    text-align: center;
    transition: .5s;
}

.breadcrum-section {
    font-family: roboto;
    font-size: 14px;
    color: #1F304A;
    line-height: 24px;

}
.breadcrum img {
    height: 12px;
}

.breadcrum-page {
    font-family: roboto;
    font-size: 20px;
    color: #1F304A;
    line-height: 24px;
    font-weight: 500;
}

/*new css for side menu*/

.side-menu{
    position: absolute;
    width: 260px;
    height: calc(100% - 81px);
    min-height: 559px; 
    top: 81px;
    left: 0px;
    z-index: 100;
    transition: 0.5s;
}

.hideable-area{
    display: block;
    float: left;
    width: calc(100% - 16px);
    height: 100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 8px;
    background: white;
}

.hide-reveal-button{
    display: block;
    float: left;
    width: 16px;
}

#hide-reveal-button-image{
    position: absolute;
    margin-left: -6px;
    height: 116px;
    width: 32px;
    top: calc(50% - 58px);
    cursor: pointer;
}


.side-menu.side-menu-hidden{
    left: -236px;

}

.section-title{
    height: 64px;
    width: 100%;
    border-top-right-radius: 8px;
    background: #DEE4EC;
    text-align: center;
    padding-top: 16px;
    transition-duration: 0.5s
}

.section-title.expanded{
    height: 100%;
}

.section-title p{
    font-family: roboto;
    font-size: 18px;
    font-weight: 400;
    color: #1F304A;
}

.section-title .instruction{
    display: none;
    font-family: roboto;
    font-size: 14px;
    font-weight: 400;
    color: #697E9E;
    transition-property: opacity;
    transition-delay: 0.25s;
    transition-duration: 0.25s;
}
.section-title .instruction.expanded{
    display: block;
    opacity: 0;

}
.section-title .instruction.expanded.fadein{
    opacity: 1;
    margin-top: 4px;
}

.section-title img{
    height: 22px;
    width: 30px;
    padding: 7px;
    transition-property: transform;
    transition-delay: 0.5s;
    transition-duration: 0.25s;
}

.section-title img.expanded{
    transform: rotate(180deg);
}


.section-title .seperator{
    display: none;
    height: 1px;
    width: 100%;
    background: #697E9E;
    margin-top: 22px;
    transition-property: opacity;
    transition-delay: 0.25s;
    transition-duration: 0.25s;
}

.clickable-title {
    cursor: pointer;
}

.section-title .seperator.expanded{
    display: block;
    opacity: 0;
}
.section-title .seperator.expanded.fadein{
    opacity: 1;
}

.select-section-dropdown{
    display: none;
}

.section-list-wrapper{
    display: none;
    height: calc(100% - 94px);
    transition-property: opacity;
    transition-delay: 0.25s;
    transition-duration: 0.25s;
}
.section-list-wrapper.expanded{
    display: block;
    opacity: 0;
}
.section-list-wrapper.expanded.fadein{
    opacity: 1;
}

.section-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 24px;
}

.section-list li{
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
    font-family: roboto;
    font-size: 14px;
    font-weight: 400;
    color: #1F304A;
    border-bottom: 1px solid #1F304A;
    cursor: pointer;
    transition: 0.25s;
}
.section-list li:hover{
    font-weight: 500;
    font-weight: 500;
    padding-bottom: 20px;
    padding-top: 20px;
}
.section-list li:last-child{
    border-bottom: none;
}

.sub-link-wrapper{
    display: block;
    height: calc(100% - 64px);
    overflow: auto;
}
.sub-link-wrapper.expanded{
    display: none;
}

.sub-link-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: calc(100% - 32px);
    margin-left: 16px;
    padding-top: 16px;
}

.sub-link-list li{
    position: relative;
    overflow: hidden;
}

.sub-link-list li a{
    display: block;
    width: calc(100% - 12px);
    float: left;
    text-decoration: none;
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    color: #3A4A61;
    padding-top: 12px;
    padding-bottom: 6px;
    border-bottom: 1px solid #B9C4D4;
    transition: 0.25s;
}



@media only screen and (min-width: 0px) and (max-width: 1400px){
    .sub-link-list li a{
        font-size: 12px;
    }

    .sub-link-list li img{
        width: 4px;
        height: 8px;
    }
}

.sub-link-list li img{
    width: 6px;
    position: absolute;
    top: 14px;
}

.sub-link-list li a:hover{
    color: #1F304A;
    border-bottom: 1px solid #3A4A61;
    font-weight: 500;
    padding-top: 14px;
    padding-bottom: 8px;
}




@media only screen and (min-width: 0px) and (max-width: 1280px){
    .side-menu.side-menu-hidden{
        left: -232px;
    }
}

/*new style for footer*/
.footer{
    position: fixed;
    display: block;
    bottom: 0px;
    right: 0px;
    padding:2px 16px 4px 16px;
    background: #FCFCFC;
}

.footer p{
    font-family: roboto;
    font-weight: 400;
    font-size: 12px;
    color:#7C7C7C;
}

.ui-widget-header .ui-icon-circle-triangle-n {
    display: none !important;
}

.dthead{
    font-family: Roboto;
    font-weight: normal;
    background-color: #DEE4EC;
    color: #2F4058;
}

.ui-widget-header {
    font-family: Roboto;
    background: #DEE4EC;
    color: #1F304A;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px 8px 0px 0px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 8px;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    border: 0px solid #c5c5c5;
    background: #DEE4EC;
    color: #2F4058;
    font-family: roboto;
    font-weight: 500;
}

.jqgrow:nth-child(even) {
    background: #F9F9F9;
}

.jqgrow:nth-child(odd) {
    background: #F0F1F3;
}

.ui-widget-content {
    border: 1px solid #f0f1f3;
    color: #2F4058 !important;
    border-radius: 8px;
}

/*ui-state-default.jqgrid-rownum:nth-child(even) {
    background: #F0F1F3 !important;
}*/

.ui-jqgrid td.jqgrid-rownum:nth-child(even) {
    background: #F0F1F3;
}

.ui-jqgrid td.jqgrid-rownum:nth-child(odd) {
    background: #f0f1f3;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    border: 1px solid #f0f1f3;
    background: #B9C4D4;

}

.form-datepicker {
    display: block;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15) !important;
    border-radius: 6px;
}

.form-datepicker > input {
    display: block;
}

.form-datepicker > img {
    position: absolute;
    display: block;
    right: 22px;
    top: 36px;
}

.only-this-picker > img {
    top: 36px;
}

.ui-widget-overlay {
    background: rgba(31, 48, 74, 0.75) !important;
    opacity: 1 !important;
}

.ui-corner-bottom {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.ui-state-hover, .ui-widget-content .ui-state-hover {
    background: #d1d8e2;
    border: 1px solid #DEE4EC;
}

.ui-state-default.ui-button:hover {
    border-radius: 5px;
    background: #B1C5E3;
}

.ui-state-active {
    background: #38506D !important;
}

.ui-datepicker-calendar .ui-state-default {
    border: 1px solid #c3cfde;
}

.ui-datepicker-current-day .ui-state-default.ui-state-active {
    color: white;
}

.ui-datepicker-today .ui-state-default.ui-state-highlight {
    background: #db7f05;
    color: white;
}

.ui-datepicker-current-day .ui-state-default.ui-state-active {
    color: white;
}

.ui-dialog .ui-dialog-buttonpane button {
    background: #EAF0F9;
    border: 1px solid #B9C4D4;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
}

.ui-pg-input {
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    padding: 0 5px;
    height: 18px !important;
}

.ui-pg-selbox {
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    height: 18px !important;
    padding: 0 5px;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a {
    color: #697E9E;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
    background: #F7FAFF;
    border-radius: 4px 4px 0 0;
    color: #1f304a;
    outline: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
    border-radius: 4px 4px 0 0;
    border: none;
    color: white;
    font-weight: 600;
    outline: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    background: #697E9E;
    color: #FFFFFF;
}

.pro-image-view {
    right: -130px;
    position: absolute;
    top: 37px;
    color: #1F304A !important;
}

.pro-image-view:hover, .pro-image-view:focus {
    text-decoration: none !important;
    cursor: pointer;
}

.main-clickable-link {
    font-family: roboto;
    font-size: 12px;
    font-weight: 500;
    color: #1F304A !important;
}

.main-clickable-link:hover {
    text-decoration: none !important;
    color: #697E9E !important;
}

.legends-grid {
    display: block;
    margin: 0px 0px 10px 0px;
    padding: 0;
    color: #1F304A;
    font-family: arial;
    font-size: 0.76em; }
.legends-grid li {
    display: inline-block;
    float: left;
    margin: 0px 20px 5px 0px; }
.legends-grid li span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 3px 0px 0px; }
.legends-grid li span.sale {
    background-color: #6bdb57; }
.legends-grid li span.void {
    background-color: #d1d1d1; }
.legends-grid li span.rfud {
    background-color: #fc8038; }
.legends-grid li span.cavn {
    background-color: #6fe1e3; }
.legends-grid li span.pacm {
    background-color: #5a7575; }
.legends-grid li span.ofli {
    background-color: #518261; }
.legends-grid li span.cism {
    background-color: #87f58c; }

.legends-grid li span.reopen {
    background-color: #8B0000; }
.legends-grid li span.open {
    background-color: #E50606; }
.legends-grid li span.assigned {
    background-color: #FFFF00; }
.legends-grid li span.proc {
    background-color: #0000FF; }
.legends-grid li span.fixed {
    background-color: #87ceeb; }
.legends-grid li span.closed {
    background-color: #008000; }
.legends-grid li span.reassign {
    background-color: #9B870C; }
.legends-grid li span.astovend {
    background-color: #FFA500; }
.legends-grid li span.fixed {
    background-color: #87ceeb; }

